body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(115,183,196,1) 0%);

}
#container{
    width: 600px;
    border: solid 1px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: beige;
}
img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
h1{
    text-align: center;
}
.p1{
    text-align: center;
}
